rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Reglas para "numeros_comprados"
    match /numeros_comprados/{idNumero} {
      allow read: if true; // Cualquier usuario puede leer
      allow create: if true; // Cualquier usuario puede comprar números
      allow update: if true; // Cualquier usuario puede actualizar
      allow delete: if false; // Nadie puede eliminar números comprados
    }

    // Reglas para "compradores"
    match /compradores/{idComprador} {
      allow read: if true; // Cualquier usuario puede ver los compradores
      allow create: if true; // Cualquier usuario puede crear un comprador
      allow update: if true; // Cualquier usuario puede actualizar los datos
      allow delete: if false; // No se permite eliminar compradores
    }

    // Reglas para "metodos_pago"
    match /metodos_pago/{idMetodo} {
      allow read: if true; // Cualquier usuario puede ver los métodos de pago
      allow create, update, delete: if true; // Cualquier usuario puede crear, actualizar o eliminar
    }

    // Reglas para "rifas"
    match /rifas/{idRifa} {
      allow read: if true; // Cualquier usuario puede ver las rifas
      allow create, update, delete: if true; // Cualquier usuario puede crear, actualizar o eliminar rifas
    }

    // Reglas para "usuarios" (Admin)
    match /usuarios/{idUsuario} {
      allow read, create, update, delete: if true; // Cualquier usuario puede gestionar usuarios
    }
  }
}